*{list-style:none; margin:0; padding:0;}
body {color:#555; font-family:Arial, serif; font-size:62.5%;}

.styleguide-center {
	margin: 0 auto;
	max-width: 940px;
	position: relative;
}

/* HEADER */
.styleguide-header {padding: 1em 0;}

.styleguide-title {
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
}

/* BODY */
.styleguide-body {position:relative;}

.styleguide-sidebar {
	position:absolute;
	left: 0;
	top: 0;	
	width: 200px;
}

/* MAIN MENU */
.styleguide-mainmenu {

}

.styleguide-mainmenu-list {

}

.styleguide-mainmenu-item {
	padding: 1em 0;
}

.styleguide-mainmenu-link {
	font-size: 1.5em;
	text-decoration: none;
}

.styleguide-mainmenu-link:hover {
	text-decoration: underline;
}

/* CONTENT */
.styleguide-content {
	padding-left: 210px;
}

.styleguide-panel {

}

.styleguide-panel-header {
	border-bottom: 1px solid #aaa;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.styleguide-panel-title {
	color: #444;
	font-size: 2em;
}

.styleguide-panel-title-number {
	color: #aaa;
	font-size: 0.8em;
}

.styleguide-panel-content {
	margin-bottom: 2em;
}

/* FOOTER */
.styleguide-footer {padding: 1em 0;}

.styleguide-copyright {
	text-align: center;
}